{% extends 'base.html' %}

{% block title %}Adopt A Pet!{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
<b>{{msg}}</b>
{% endfor %}

<h2>Find pets near you</h2>

{% for pet in pets %}

<img src="{{pet.photo_url}}" width="250" height="250">

{% if pet.available %}
<a href="{{ url_for('display_form',pet_id=pet.id) }}">{{pet.name}}</a>
is available
{% else %}
Not available
{% endif %}
{% endfor %}



<form>
<button type="submit" formaction="/add" formmethod="POST">Add a pet</button></form>



{% endblock %}